<h1 style="text-align: center";>🐻🤯 Bear Emotion Eater 🐻🤯</h1>
<h1 style="text-align: center";>小熊情绪记录器 🍎</h1>
<h3 style="text-align: center";>Good and Bad Make All A Day.</h3>
<hr>



<center>
    <img src="week.png" alt="moodindextodayWEEK" width = 700>
</center>
<h3 style="text-align: center";>🐻 MOOD INDEX THIS WEEK. 🤯</h3>
<hr>


<p><img src="temp0927.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    <a href="https://gitlab.com/izhangshiying/lo.fish/-/issues/2#note_419499718">🍎 MON, raw data</a>
</p>



<p><img src="temp0928.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    🍎 TUE, raw data
</p>




<p><img src="temp0929.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    🍎 WED, raw data
</p>




<p><img src="temp0930.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    🍎 THU, raw data
</p>




<p><img src="temp1001.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    🍎 FRI, raw data
</p>




<p><img src="temp1002.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    🍎 SAT, raw data
</p>




<p><img src="temp1003.png" alt="moodindextoday" width = 500 align="center" style="margin: 0px 150px 0px 150px;"/>
    🍎 SUN, raw data
</p>


<h4 style="text-align: center";>🍎 Recorded period: 2020.09.28-2020.10.03 🍎 Produced by: team bearbear 🍎</h4>
